.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
}

.header{
    height: 30%;
    background-color: #1f2937;
    display: flex;
    padding-left: 60px;
}

.header-logo{
    display: flex;
    height: 20px;
    color: #f9faf8;
    font-size: 24px;
}